:export {
  caretHeightValue: $caret-height-value;
  frameContainerMinHeight: $frame-container-min-height;
  pythonExecutionAreaLayoutButtonsPosOffset: $strype-python-exec-area-layout-buttons-pos-offset;
  pythonExecutionAreaLayoutButtonSpacing: $strype-python-exec-area-layout-button-spacing;
  nonMainCodeContainerBackground: $strype-non-main-code-container-background;
  mainCodeContainerBackground: $strype-main-code-container-background;
}