$caret-height-value: 6;
$caret-width: 120px;
$frame-container-min-height: 30px;
$strype-menu-entry-border: 2px solid transparent;
$strype-menu-entry-focus-border: 2px solid #0d47f7 !important;
$strype-python-exec-area-expand-button-pos-offset: 2px;
$strype-non-main-code-container-background: #CBD4C8;
$strype-main-code-container-background: #F6F2E9;
$strype-frame-caret-forbidden-dnd-cross-height-notransform-value : 20;
