$caret-height: 6px;
$caret-width: 120px;
$frame-container-min-height: 30px;
$strype-menu-entry-padding: 0.2em;
$strype-menu-entry-width: 95%;
$strype-menu-entry-border: 2px solid transparent;
$strype-menu-entry-focus-border: 2px solid #0d47f7 !important;